<section>
  <article>
    <div class="card card-borde mb-1">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title ms-1">Educación</h5>
          <app-modalnew [entidad]="entidad"></app-modalnew>
        </div>
        <ul class="mt-3">
          <li *ngFor="let educa of Educacion ,let i = index">
            <div class="conteiner">
              <div class="row">
                <div class="col-1">
                  <img class="rounded float-start img-logo m-3" [src]="educa.url_logo" alt="">
                </div>
                <div class="col-9">
                  <div class="px-2">
                    <h6 class="card-title">{{educa.establecimiento}}</h6>
                    <span class="card-text">{{educa.carrera}}</span>
                    <br>
                    <span class="card-text text-muted">{{educa.estado.estado}}</span>
                    <p class="card-text text-muted">
                      <small>
                        {{educa.fecha_inicio |date :'dd/MM/yyyy'}} - {{educa.fecha_final |date :'dd/MM/yyyy'}}
                      </small>
                    </p>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex justify-content-end">
                    <app-modaledit [id]="i" [entidad]="entidad"></app-modaledit>
                    <app-modal-delete [id]="i" [entidad]="entidad"></app-modal-delete>
                  </div>
                </div>
              </div>

            </div>


          </li>
        </ul>


      </div>
      <app-cursos [Cursos]="Cursos"></app-cursos>

    </div>
  </article>
</section>
