   <section>
     <div class="card card-borde mb-1 ">

       <img class="card-img-top image-portada" alt="" [src]="datos.url_img_portada">


       <img class="img-fluid img-foto" [src]="datos.url_img_perfil" alt="">



       <div class="card-body portada_data ">

         <h5 class="card-title">{{datos.nombre }} {{datos.apellido}}</h5>
         <span class="card-text">{{datos.ocupacion}}</span>
         <br>

         <span class="card-text"><small class="text-muted me-3">{{datos.localidad}} - {{datos.provincia}}</small></span>
         <app-modalinfoedit [Persona]="datos" [aut]="aut"></app-modalinfoedit>




       </div>
     </div>
   </section>
