   <section>
     <div class="card card-borde mb-1 ">

       <img class="card-img-top image-portada" alt="" [src]="imgPortada">

       <!-- <img class="img-fluid img-foto" [src]="imgPerfil" alt=""> -->

       <img class="img-fluid img-foto" src='https://i.postimg.cc/Kz8Y28Zq/91-Ieb9id-ZYL-AC-SL1500.jpg'
         alt='91-Ieb9id-ZYL-AC-SL1500' />
       <div class="card-body portada_data ">

         <h5 class="card-title">{{datos.nombre }} {{datos.apellido}}</h5>
         <span class="card-text">{{datos.ocupacion}}</span>
         <br>

         <span class="card-text"><small class="text-muted me-3">{{datos.localidad}} - {{datos.provincia}}</small></span>
         <app-modalinfoedit [Persona]="datos" [aut]="aut"></app-modalinfoedit>



         <div class="mt-3">
           <button class="btn btn-secondary m-1">interes</button>
           <!-- <app-modaledit-perso></app-modaledit-perso> -->
         </div>

       </div>
     </div>
   </section>
