   <section>
     <div class="card card-borde mb-1 ">

       <img class="card-img-top image-portada" alt="" [src]="imgPortada">

       <img class="img-fluid img-foto" [src]="imgPerfil" alt="">

       <div class="card-body portada_data ">

         <h5 class="card-title">{{datos.nombre }} {{datos.apellido}}</h5>
         <span class="card-text">{{datos.ocupacion}}</span>
         <br>

         <span class="card-text"><small class="text-muted me-3">{{datos.localidad}} - {{datos.provincia}}</small></span>
         <app-modalinfoedit [Persona]="datos"></app-modalinfoedit>
         <!-- <app-modaledit-perso></app-modaledit-perso> -->


         <div class="mt-3">
           <button class="btn btn-secondary m-1">interes</button>
           <!-- <app-modaledit-perso></app-modaledit-perso> -->
         </div>

       </div>
     </div>
   </section>
