 <section>
   <article>



     <div class="card card-borde mb-1">
       <div class="card-body">
         <div class="d-flex justify-content-between">
           <h5 class="card-title">Acerca de</h5>

           <button *ngIf="aut" class="btn btn-light me-1" (click)="changeEdit()"><i
               class="fa-solid fa-pen"></i></button>

         </div>
         <div *ngIf="!edit">
           <p class="card-text ms-3">{{Persona.acerca}}</p>
         </div>
         <div *ngIf="edit">
           <form [formGroup]="formEditAcerca" (ngSubmit)="editAcerca(formEditAcerca)">
             <div class="input-group">
               <input id="acerca" class="form-control" name="acerca" formControlName="acerca">
             </div>

             <input type="submit" class="btn btn-light mt-1" value="Guardar">
           </form>
         </div>
       </div>
     </div>



   </article>


 </section>
