<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Información de contacto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: {{Persona.nombre}}</li>
      <li class="list-group-item">Apellido: {{Persona.apellido}}</li>
      <li class="list-group-item">Email: {{Persona.email}}</li>
      <li class="list-group-item">Telefono: {{Persona.telefono}}</li>
      <li class="list-group-item">Localidad: {{Persona.localidad}}</li>
      <li class="list-group-item">Provincia: {{Persona.provincia}}</li>
      <li class="list-group-item">Ocupación: {{Persona.ocupacion}}</li>
      <li class="list-group-item">Fecha de Nacimiento: {{Persona.fecha_nacimiento | date:'dd/MM/yyyy'}}</li>
      <li class="list-group-item">Linkedin: {{Persona.redes[0].link_linkedin}}</li>
      <li class="list-group-item">Github: {{Persona.redes[0].link_github}}</li>
      <li class="list-group-item">YuoTube: {{Persona.redes[0].link_yuotube}}</li>
      <li class="list-group-item">Twitter: {{Persona.redes[0].link_twitter}}</li>
      <li class="list-group-item">Facebook: {{Persona.redes[0].link_facebook}}</li>
      <li class="list-group-item">Instagram: {{Persona.redes[0].link_instagram}}</li>
    </ul>

  </div>
  <div class="modal-footer d-flex justify-content-between">
    <app-modaledit-perso [Persona]="Persona"></app-modaledit-perso>
    <div class="d-flex justify-content-between">

      <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cerrar</button>
    </div>

  </div>
</ng-template>
<button class="btn btn-link " (click)="open(content)">Información de contacto</button>
