                <div class="card-body ">  
                      <div class="d-flex justify-content-between mb-1">   
                        <h5 class="card-title">Cursos</h5>
                        <app-modalnew [entidad]="entidad"></app-modalnew>
                              
                    </div> 
                    <ul>
                        <li *ngFor="let curso of Cursos,let i = index">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                              <img class="rounded float-start img-logo" [src]="curso.url_logo" alt="">
                                <div class="px-2">
                                    <h6 class="card-title">{{curso.certificacion}}</h6>
                                    <span class="card-text"><small>{{curso.establecimiento}}</small></span>
                                    <br>
                                    <span class="card-text text-muted"><small>{{curso.estado.estado}}</small></span>
                                    <p class="card-text text-muted"> 
                                      <small> {{curso.fecha_inicio |date:'dd/MM/yyyy'}} - {{curso.fecha_final |date:'dd/MM/yyyy'}}</small>
                                      
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex">
                               <app-modaledit [id]="i" [entidad] = "entidad"></app-modaledit>
                                <app-modal-delete [id]="i" [entidad] = "entidad"></app-modal-delete>
                            </div>
                          </div>


                        </li>
                    </ul>

                </div>

