<section>
  <article>
    <div class="card card-borde mb-1">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title ms-1">Experiencia Laboral</h5>
          <app-modalnew *ngIf="aut" [entidad]="entidad"></app-modalnew>
        </div>
        <ul class="mt-3">
          <li class="mt-3" *ngFor="let experiencia of Experiencias ,let i = index">
            <div class="container ">
              <div class="row">
                <div class="col-1 navbar-brand ">
                  <img class="d-inline-block align-text-top img-logo " [src]="experiencia.url_img_logo" alt="">
                </div>
                <div class="col-9">
                  <div class="px-2">
                    <h6 class="card-title">{{experiencia.puesto}}</h6>
                    <span class="card-text"><small>{{experiencia.empresa}}</small></span>
                    <p class="card-text text-muted">
                      {{ experiencia.tareas}}
                    </p>
                    <span class="card-text text-muted">
                      <small>Desde : {{ experiencia.fecha_inicio | date :'dd/MM/yyyy'}}
                        - Hasta : {{ experiencia.fecha_final | date :'dd/MM/yyyy'}}
                      </small>
                    </span>
                  </div>
                </div>
                <div class="col">
                  <div *ngIf="aut" class="d-flex justify-content-end">
                    <app-modaledit [id]="i" [entidad]="entidad"></app-modaledit>
                    <app-modal-delete [id]="i" [entidad]="entidad"></app-modal-delete>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
