<section>
        <article>
       <div class="card card-borde mb-1" >
                <div class="card-body">
                    <div class="d-flex justify-content-between">   
                        <h5 class="card-title">Experiencia Laboral</h5>
                        <a class="m-1" href="#"><i class="fa-solid fa-plus"></i></a>       
                    </div>

                  <ul>
                      <li *ngFor="let experiencia of Experiencias ,let i = index">
                          
                          
                          <div class="d-flex mt-3">                              
                              <img class="rounded float-start img-logo" [src]="experiencia.url_img_logo" alt="">
                            <div class="px-2">
                                <h6 class="card-title">{{experiencia.puesto}}</h6>
                                <span class="card-text"><small>{{experiencia.empresa}}</small></span>
                                <p class="card-text text-muted"> 
                                   {{ experiencia.tareas}}
                                </p>
                                <span class="card-text text-muted">
                                    <small>Desde : {{ experiencia.fecha_inicio | date :'dd/MM/yyyy'}} 
                                            - Hasta : {{ experiencia.fecha_final | date :'dd/MM/yyyy'}} 
                                    </small>
                                </span>
                            </div>
                            <div class="d-flex">   
                                                          
                                <a class="m-1" href="#"> <i class="fa-solid fa-pen"></i></a>
                                <app-modal-delete [id]="i" [entidad] = "entidad"></app-modal-delete>

                                                                  
                            </div>
                          </div>

                      </li>
                  </ul>
                  
                 
                </div>                
            </div>
        </article>
    </section>

