<!-- <div class="row ">
  <div class="col"> -->
<div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block">
  <button type="button" [ngClass]="aut ? 'btn btn-outline-danger' : 'btn btn-outline-success'" id="dropdownForm1"
    display="dynamic" ngbDropdownToggle>
    <span>{{aut ? 'Logout' : 'Login'}}</span>
  </button>

  <div *ngIf="!aut" ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropdown-menu-end">

    <button type="button" disabled ngbDropdownItem>Ingrese para editar el Porfolio</button>
    <div class="dropdown-divider"></div>
    <form class="px-4 py-3" [formGroup]="formLogin" (ngSubmit)="onSubmit(formLogin)">
      <div class="mb-3">
        <label for="username">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" formControlName="user">
      </div>
      <div class="mb-3">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass" formControlName="pass">
      </div>

      <button type="submit" class="btn btn-primary" (click)="myDrop.close();">Sign in</button>
    </form>

  </div>
  <div *ngIf="aut" ngbDropdownMenu class="dropdown-menu-end">
    <button type="button" disabled ngbDropdownItem>Haga Click para salir del modo edición</button>
    <div class="dropdown-divider"></div>

    <button type="button" ngbDropdownItem (click)="logout();">Logout</button>
  </div>
</div>
<!-- </div>
</div> -->
