 <header>
   <nav class="navbar navbar-dark bg-dark">
     <div class="container-fluid">
       <div class="navbar-brand">
         <img src="../../../../assets/img/Logo_ArProg.png" alt="" width="30" height="24"
           class="d-inline-block align-text-top">
         <span class="navbar-brand"> Cristian Alderete </span>
       </div>

       <div class="d-flex">
         <!-- <div class=""> -->
         <!-- //"https://www.linkedin.com/feed/" -->
         <a class="p-2" *ngIf="linkedin" [href]="Persona.link_linkedin"><i class="fa-brands fa-linkedin i-narv"></i></a>
         <a class="p-2" *ngIf="github" [href]="Persona.link_github"><i
             class="fa-brands fa-github-square i-narv"></i></a>
         <!-- </div> -->

         <div class="ms-3 me-3">
           <app-login></app-login>
         </div>


       </div>

     </div>
   </nav>
 </header>
