 <header>
   <nav class="navbar navbar-dark bg-dark">
     <div class="container-fluid">
       <div class="navbar-brand">
         <img src="../../../../assets/img/Logo_ArProg.png" alt="" width="30" height="24"
           class="d-inline-block align-text-top">
         <span class="navbar-brand"> Argentina Programa #YoProgramo </span>

       </div>

       <div class="d-flex">
         <!-- <div class=""> -->
         <!-- //"https://www.linkedin.com/feed/" -->
         <a class="p-2" *ngIf="linkedin" [href]="Redes.link_linkedin" target="_blank"><i
             class="fa-brands fa-linkedin i-narv"></i></a>
         <a class="p-2" *ngIf="github" [href]="Redes.link_github" target="_blank"><i
             class="fa-brands fa-github-square  i-narv"></i></a>
         <a class="p-2" *ngIf="twitter" [href]="Redes.link_twitter" target="_blank"><i
             class="fa-brands fa-twitter i-narv"></i></a>
         <a class="p-2" *ngIf="youtube" [href]="Redes.link_yuotube" target="_blank"><i
             class="fa-brands fa-youtube i-narv"></i></a>
         <a class="p-2" *ngIf="facebook" [href]="Redes.link_facebook" target="_blank"><i
             class="fa-brands fa-facebook i-narv"></i></a>
         <a class="p-2" *ngIf="instagram" [href]="Redes.link_instagram" target="_blank"><i
             class="fa-brands fa-instagram i-narv"></i></a>
         <!-- </div> -->

         <div class="ms-3 me-3">
           <app-login></app-login>
         </div>


       </div>

     </div>
   </nav>
 </header>
